// colors
$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$darkGray: #4c4c4c;
$lightGray: #f4f4f4;
$mediumGray: #6d6e76;
$lightSilver: #f0f0f1;
$mediumSilver: #d3d3d6;
$lavendar: #f4f0f8;
$lightYellow: #fbf6ea;
$white: #ffffff;
$darkYellow: #edc14a;
